{% extends "polls/account_layout.html" %}
{% block body %}
    <!-- form for adding choices to a poll question -->
    <div class="addform">
        <form method="POST" class="choice-form">
            {% csrf_token %}
            <fieldset>
                <legend>Add New Choices</legend><br>
                {{form.as_p}}
                <button type="submit" class="save btn btn-primary" id="save1">Save</button>
            </fieldset>
            
        </form>
        <br>
        <button type="submit" class="save btn btn-dark" id="save2"><a href="{% url 'polls:addpoll' %}" id="anchor1">Add Poll</a></button>
    </div>
{% endblock %}